<head>
  <title>bgame</title>
  <style type="text/css">
  div.success { color: green }
  div.error { color: red; }
  </style>
</head>

<body>
<h1>bgame</h1>
 <h3>Hello {{player.name}}</h3>

<a href='/game'>Update</a> <a href='/logout'>Logout</a>
<br />
<br />

 {% if messages %}
{% for message in messages %}
<div{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
{% endfor %}
{%else%}
<div>&nbsp;</div>
{% endif %}


<h4>Resources</h4>
<table>
    {% for res in resources %}
        <tr>
            <td>{{res.resourceType.name}}</td>
            <td>{{res.amount}}</td>
        </tr>
    {% endfor %}
</table>

<h4>Buildings</h4>
<table>
    {% for b in buildings %}
    <tr>
        <td style="text-align:left">{{b.buildingType.name}}</td>
        <td>{{b.quantity}}</td>
    </tr>
    {% empty %}
    No builings built yet
    {% endfor %}
</table>

<h3>New building </h3>
<form action='/build' method='POST' id='build'>
    {% csrf_token %}
    <table border=1>
    {% for building in building_types|dictsort:"name" %}

        {% if forloop.first %}
            <th></th>
            <th>Produces</th>
            {% for res in building.resources|dictsort:"name" %}
                <th>{{res.name}}</th>
            {% endfor %}
            <th></th>
        {% endif %}

        <tr>
            <th style="text-align:left">{{building.name}}</th>
            <td>{{building.production}}</td>
            {% for res in building.resources|dictsort:"name" %}
                <td>{{res.amount}}</td>
            {% endfor %}
            <td><input type="submit" name="building_{{building.id}}" value="Build"></td>
        </tr>
    {% endfor %}
    </table>
</form>

<hr>
<h3>Admin actions</h3>
<form action='/gameadmin' method='POST' id='gameadmin'>
    {% csrf_token %}
    <input type="submit" name="tick" value="Tick!">
    <input type="submit" name="resetdb" value="Reset DB">
</form>
</body>