<h1>Registration</h1>
<form method="post" action="{% url 'mysite.bgame.views.register' %}">
{% csrf_token %}
<table>
<tr>
    <td>Username</td>
    <td><input name="username" type="text"></td>
</tr>
<tr>
    <td>Password</td>
    <td><input name="password1" type="password"></td>
</tr>
<!--<tr>-->
    <!--<td>Password (rep)</td>-->
    <!--<td><input name="password2" type="password"></td>-->
<!--</tr>-->
</table>

<input type="submit" value="register" />
</form>
<a href="{% url 'mysite.bgame.views.custom_login' %}">Login</a>
